#profile {
    display: flex;
    gap: 25px;

    @media screen and (max-width: 780px) {
        flex-direction: column;
    }

    .profile-info {
        display: flex;
        @media screen and (min-width: 781px) {
            flex: 1;
        }
        flex-direction: column;
    }

    .profile-navbar {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    nav {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1080px) {
            flex-direction: column;
        }
        gap: 15px;

        padding: 25px;
        border: 1px solid black;
        border-radius: 5px;
        
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

        div {
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 780px) {
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;

                h1, h2, h3 {
                    width: 100%;;
                }
                
                text-align: center;
            }
            gap: 15px;
        }
        
        a {
            width: 250px;
            border: 1px solid black;
            padding: 10px;
            border-radius: 5px;

            display: flex;
            gap: 15px;
            align-items: center;

            
            @media screen and (max-width: 780px) {
                border: none;
                flex-direction: column;
                width: 50px;

                svg {
                    width: 50px;
                }
            }

            svg {
                aspect-ratio: 1 / 1;
            }

            transition: transform 0.2s ease-in-out;
            @media screen and (min-width: 781px) {
                &:hover {
                    transform: scale(105%);
                }
            }
        }
    }



    .profile-cart {
        display: flex;
        gap: 15px;
        @media screen and (max-width: 1080px) {
            flex-direction: column;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            
            gap: 15px;

            &.cart-content {
                flex: 1;
            }

            > div {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100px;
                @media screen and (max-width: 480px) {
                    height: 100px;
                }
                border: 1px solid black;
                padding: 15px;
                gap: 25px;

                > div {
                    display: flex;
                    flex-direction: column;


                    &.product-main {
                        flex: 1;

                        > div {
                            overflow: hidden;
                        }
                    }

                    > div {
                        display: flex;
                        justify-content: space-between;
                        gap: 15px;
                    }

                    > span {
                        display: flex;
                        gap: 5px;
                    }
                }

                input {
                    width: auto;
                    border: 1px solid black;
                    text-align: center;
                }
            }
        }

        img {
            object-fit: cover;
            aspect-ratio: 1 / 1;
            width: 50px;
        }


        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border: 1px solid black;
            padding: 5px;
            
            transition: 0.2s ease-in-out transform;
            cursor: pointer;
            &:hover { transform: scale(105%); }
            
            border-radius: 15px;
        }

        .increment_button {
            border: none;
            padding: 0;
        }

        .rotate-180 {
            rotate: 180deg;
        }
    }

}