main#menu {
    display: flex;
    gap: 50px;

    > section.menu-items {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px;

        > aside {
            display: flex;
            flex-direction: column;
            gap: 25px;

            > div {
                display: flex;
                flex-wrap: wrap;
                gap: 50px;

                > a {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    width: 150px;
                    
                    text-align: center;

                    @media screen and (max-width: 480px) {
                        width: 100px;
                    }

                    &:hover > img {
                        box-shadow: 0 0 10px black;
                        transform: scale(110%);
                    }

                    > img {
                        transition: 0.2s transform ease-in-out, 0.2s box-shadow ease-in-out;

                        width: inherit;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 100%;
                    } 
                }
            }
        }
    }

    > section.menu-list 
    {
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 25px;

        @media screen and (max-width: 480px) {
            display: none;
        }

        > aside {
            display: flex;
            flex-direction: column;
            gap: 5px;

            h4 {
                transition: 0.2s transform ease-in-out;
                &:hover {
                    transform: scale(110%);
                }
            }

            > div {
                display: flex;
                flex-direction: column;
                gap: 5px;

                a {
                    transition: 0.2s transform ease-in-out;
                    &:hover {
                        transform: scale(110%);
                    }
                }
            }
        }
    }
}