@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html {
    font-size: 16px;
}

*, body {
    /* Reset html */
    margin: 0;
    padding: 0;
    
    /* set font and sizing */
    box-sizing: border-box;
    font-family: 'Itim', cursive;
    color: black;
    text-decoration: none;
  }
  
  /* css for body */
body {
    width: 100vw;
    overflow-x: hidden;
}

main {
    min-height: calc(100vh);
    padding: 50px;
    @media screen and (max-width: 480px) { padding: 25px; }
    overflow-x: hidden;
}

/* Fonts */
@media (max-width: 480px) {
    h1 { font-size: calc(1rem + 3vw); }
    h2 { font-size: calc(1rem + 1.5vw); }
    h3 { font-size: calc(1rem + 0.75vw); }
    h4 { font-size: calc(1rem + 0.5vw); }
    h5 { font-size: calc(1rem + 0.25vw); }
    h6 { font-size: calc(1rem + 0.1vw); }
    p { font-size: calc(1rem + 0.5vw); }
    a { font-size: calc(1rem + 0.5vw); }
    .tiny { font-size: calc(0.5rem + 0.5vw); }

}

@media (min-width: 481px) {
    h1 { font-size: calc(1rem + 1.5vw); }
    h2 { font-size: calc(1rem + 1vw); }
    h3 { font-size: calc(1rem + 0.5vw); }
    h4 { font-size: calc(1rem + 0.25vw); }
    h5 { font-size: calc(1rem + 0.1vw); }
    h6 { font-size: calc(1rem + 0.05vw); }
    p { font-size: calc(0.5rem + 0.5vw); }
    a { font-size: calc(1rem + 0.5vw); }
}

.line-decoration {
    overflow: hidden;
    text-align: center;
}
.line-decoration > span {
   position: relative;
   display: inline-block;
}
.line-decoration > span:before, .line-decoration > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 100vw;
   margin: 0 20px;
}
.line-decoration > span:before{
   right: 100%;
}
.line-decoration > span:after{
   left: 100%;
}

/* colors */
.bg-lavender-blush { background-color: #F5E6E8ff; }
.bg-blush { background-color: #f7eacc; }


//Errors
#not-found {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    > svg {
        max-height: 20vh;
    }
}