main#homepage {
  h1 {
      text-align: center;
  }

  > .banner {
      width: 100vw;
      height: 200px;

      overflow: hidden;
  }

  > article {
      padding: 25px;

      display: flex;
      flex-direction: column;

      align-items: center;
  }
}