main#homepage {
  h1 {
      text-align: center;
  }

  > .banner {
      width: 100%;
      height: 200px;

      @media screen and (max-width: 480px) {
        height: 100px;
      }

      overflow: hidden;

      > video {
        width: 100%;
      }
  }

  > article {
      padding: 25px;

      display: flex;
      flex-direction: column;

      align-items: center;
  }
}