section.products-showcase {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    overflow: hidden;
    padding: 25px;

    > a {
        height: 300px;
        width: 200px;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        color: black;
        
        text-decoration: none;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3), /* Top shadow */
                 0px 0px 10px rgba(0,0,0,0.3), /* Right shadow */
                -0px 0px 10px rgba(0,0,0,0.3), /* Bottom shadow */
                0px 0px 10px rgba(0,0,0,0.3); /* Left shadow */

        > img {
            width: 100%;
            height: 50%;
            object-fit: cover;
            object-position: center;
        }

        > div {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            padding: 15px;
            text-align: center;
        }
        
    }

    .no-items-showcase {
        text-align: center;
    }
}