main#contact {
    padding: 50px;

    h2 {
        text-align: center;
    }

    section {
        margin: 15px 0;
    }

    section.location {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

        @media screen and (max-width: 480px) {
            flex-direction: column;
        }

        iframe {
            width: 40vw;
            height: 65vh;

            @media screen and (max-width: 480px) {
                width: 80vw;
                height: 35vh;
            }
        }

        ul {         
            display: flex;
            flex-direction: column;
            gap: 15px;

            max-width: 40vw;
            list-style-type: none;
        }
    }
}